- var title = section && section.title ? section.title : config.siteName
- var description = config.description

meta(charset="utf-8")
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name="description" content=description)

meta(name="viewport" content="width=device-width, initial-scale=1")

meta(property="og:url" content="https://qiskit.org/textbook/preface.html")
meta(property="og:type" content="website")
meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:image" content="https://qiskit.org/textbook/images/preface_illustration.svg")

link(rel="canonical" href="https://learn.qiskit.org/textbook")

link(rel="stylesheet" data-style="course" href="/course.css")
link(rel="stylesheet" href="https://unpkg.com/carbon-components/css/carbon-components.min.css")
link(rel="stylesheet" data-style="main" href="/main.css")

title= title

script window.csrfToken = '#{_csrf}'
meta(name="csrf-token" content=_csrf)
