nav.c-textbook__sidebar#js-sidebar
  ul.c-sidebar__chapters
    if courses
      if courses.learningPaths
        li.c-sidebar__chapter
          span.c-sidebar__entry
            | Courses
        ul
          for c in courses.learningPaths
            - var c = getCourse(c, locale.id)
            if c
              li.c-c-sidebar__section
                a.c-sidebar__entry(href=`/course/${c.id}`)
                  | #{c.title}
      if courses.uncategorized
        li.c-sidebar__chapter
          span.c-sidebar__entry
            | Textbook
        ul
          for c in courses.uncategorized
            - var c = getCourse(c, locale.id)
            if c
              li.c-c-sidebar__section
                a.c-sidebar__entry(href=`/course/${c.id}`)
                  | #{c.title}
      if courses.docs
        li.c-sidebar__chapter
          span.c-sidebar__entry
            | Misc
        ul
          for c in courses.docs
            - var c = getCourse(c, locale.id)
            if c
              li.c-c-sidebar__section
                a.c-sidebar__entry(href=`/course/${c.id}`)
                  | #{c.title}
