div.sidebar_header_menu
  a.sidebar_header_menu_toggle#app-panel-header-toggle(href='#' data-test="sidebar-button-toggle-mobile")
    span.sidebar_header_menu_toggle__label #{__('Show index')}
    include ../../frontend/assets/images/open-panel-left.svg

div.c-sidebar(data-test="sidebar")
  div.c-content-menu
    q-content-menu

  nav.c-textbook__sidebar#js-sidebar
    ul.c-sidebar__chapters__loading(data-test="sidebar-chapters-loading")
      li.c-sidebar__chapter
        q-skeleton-text
      li.c-sidebar__chapter
        q-skeleton-text
      li.c-sidebar__chapter
        q-skeleton-text
      li.c-sidebar__chapter
        q-skeleton-text
    ul.c-sidebar__chapters
      - var c = course
      - var sidebarLocation = "chapter-sidebar-nav"
      li.c-sidebar__chapter
        span.c-sidebar__entry(data-test="sidebar-entry")
          | !{c.title}

      ul.c-sidebar__sections
        for s in c.sections
          li.c-sidebar__section(data-section-id=s.id)
            if course && course.id === c.id
              if section && section.id === s.id
                .connection.connection--progress
              .connection
              - var progclass = section && section.id === s.id ? "progress-wrapper sidebar-row active" : "progress-wrapper"
              if section && section.id === s.id
                div(class=progclass, title=s.title)
                  x-progress(r=10 p=0)
              else
                a(
                  href=`${s.url}`
                  class=progclass
                  onclick=`textbook.trackClickEvent('${s.id}', '${sidebarLocation}')`
                  , title=s.title
                )
                  x-progress(r=10 p=0)
            if section && section.id === s.id
              span(class="c-sidebar__entry c-sidebar__entry--active")
                | !{s.title}
              ul.c-sidebar__subsections
                for sub in subsections
                  li
                    a(
                      href=`#${sub.id}`
                      class="c-sidebar__entry"
                      onclick=`textbook.trackClickEvent('${sub.id}', '${sidebarLocation}')`
                    ) !{sub.title}
                    ul.c-sidebar__subsections
                      for subsection in sub.subsections
                        li
                          a(
                            href=`#${subsection.id}`
                            class="c-sidebar__entry"
                            onclick=`textbook.trackClickEvent('${subsection.id}','${sidebarLocation}')`
                          ) !{subsection.title}
            else
              a(
                class="c-sidebar__entry"
                href=`${s.url}`
                onclick=`textbook.trackClickEvent('${s.id}','${sidebarLocation}')`
              )
                | !{s.title}

  div.sidebar_footer
    nav.sidebar_footer__menu
      a.sidebar_footer__menu_item#app-panel-footer-toggle(
        href='javascript:void(0)'
        onclick=`textbook.trackClickEvent('show-index','${sidebarLocation}')`
        title='Show/hide index'
        data-test='sidebar-button-toggle'
      )
        span.sidebar_footer__menu_item-label #{__('Hide index')}
        include ../../frontend/assets/images/open-panel-left.svg
      if learningPath
        a.sidebar_footer__menu_item#back-home(
          href=`${textbookHome}/course/introduction-course`
          onclick=`textbook.trackClickEvent('course-overview','${sidebarLocation}')`
          title=__('Back to course overview')
        )
          span.sidebar_footer__menu_item-label #{__('Back to course overview')}
          include ../../frontend/assets/images/home.svg
      else
        a.sidebar_footer__menu_item#back-home(
          href=textbookHome
          onclick=`textbook.trackClickEvent('textbook-home','${sidebarLocation}')`
          title=__('Back to textbook home')
          data-test="back-to-home-link"
        )
          span.sidebar_footer__menu_item-label #{__('Back to textbook home')}
          include ../../frontend/assets/images/home.svg

      a.sidebar_footer__menu_item#app-panel-language-toggle(
        href='javascript:void(0)'
        onclick=`textbook.trackClickEvent('language-selector','${sidebarLocation}')`
        title='Language selector'
      )
        include ../../frontend/assets/images/translate.svg

    q-language-selector(
      locales-all=availableLocales,
      locales-available=course.availableLocales
    )
