div.sidebar_header_menu
  a.sidebar_header_menu_toggle#app-panel-header-toggle(href='#')
    span.sidebar_header_menu_toggle__label Show index
    <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>open-panel--left</title><path d="M28,4H4A2,2,0,0,0,2,6V26a2,2,0,0,0,2,2H28a2,2,0,0,0,2-2V6A2,2,0,0,0,28,4ZM4,6h6V26H4ZM28,26H12V6H28Z"/><rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="16" height="16"/></svg>

div.c-sidebar
  div.c-content-menu
    q-content-menu

  nav.c-textbook__sidebar#js-sidebar
    ul.c-sidebar__chapters
      - var c = course
      - var sidebarLocation = "chapter-sidebar-nav"
      li.c-sidebar__chapter
        span.c-sidebar__entry
          | !{c.title}

      ul.c-sidebar__sections
        for s in c.sections
          li.c-sidebar__section(data-section-id=s.id)
            if course && course.id === c.id
              if section && section.id === s.id
                .connection.connection--progress
              .connection
              - var progclass = section && section.id === s.id ? "progress-wrapper sidebar-row active" : "progress-wrapper"
              if section && section.id === s.id
                div(class=progclass, title=s.title)
                  x-progress(r=10 p=0)
              else
                a(
                  href=`${s.url}`
                  class=progclass
                  onclick=`textbook.trackClickEvent({ cta: '${s.id}', location: '${sidebarLocation}' })`
                  , title=s.title
                )
                  x-progress(r=10 p=0)
            if section && section.id === s.id
              span(class="c-sidebar__entry c-sidebar__entry--active")
                | !{s.title}
              ul.c-sidebar__subsections
                for sub in subsections
                  li
                    a(
                      href=`#${sub.id}`
                      class="c-sidebar__entry"
                      onclick=`textbook.trackClickEvent({ cta: '${sub.id}', location: '${sidebarLocation}' })`
                    ) !{sub.title}
                    ul.c-sidebar__subsections
                      for subsection in sub.subsections
                        li
                          a(
                            href=`#${subsection.id}`
                            class="c-sidebar__entry"
                            onclick=`textbook.trackClickEvent({ cta: '${subsection.id}', location: '${sidebarLocation}' })`
                          ) !{subsection.title}
            else
              a(
                class="c-sidebar__entry"
                href=`${s.url}`
                onclick=`textbook.trackClickEvent({ cta: '${s.id}', location: '${sidebarLocation}' })`
              )
                | !{s.title}

  div.sidebar_footer
    nav.sidebar_footer__menu
      a.sidebar_footer__menu_item#app-panel-footer-toggle(
        href='#'
        onclick=`textbook.trackClickEvent({ cta: 'show-index', location: '${sidebarLocation}' })`
        is-static=true
      )
        span.sidebar_footer__menu_item-label Hide index
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>open-panel--left</title><path d="M28,4H4A2,2,0,0,0,2,6V26a2,2,0,0,0,2,2H28a2,2,0,0,0,2-2V6A2,2,0,0,0,28,4ZM4,6h6V26H4ZM28,26H12V6H28Z"/><rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="16" height="16"/></svg>
      if learningPath
        a.sidebar_footer__menu_item#back-home(
          href=`${textbookHome}/course/introduction-course`
          onclick=`textbook.trackClickEvent({ cta: 'course-overview', location: '${sidebarLocation}' })`
          title='Back to course overview'
        )
          span.sidebar_footer__menu_item-label Back to course overview
          include ../../frontend/assets/images/home.svg
      else
        a.sidebar_footer__menu_item#back-home(
          href=textbookHome
          onclick=`textbook.trackClickEvent({ cta: 'textbook-home', location: '${sidebarLocation}' })`
          title='Back to textbook home'
        )
          span.sidebar_footer__menu_item-label Back to textbook home
          include ../../frontend/assets/images/home.svg
