mixin icon(name, size)
  svg(viewBox=`0 0 ${size} ${size}` class="icon" width=size height=size)&attributes(attributes)
    use(xlink:href=`/icons.svg#${name}`)

doctype html
html(lang=course.locale dir=dir)
  head
    include head
    link(href=`/css/mathjax_styles.css` rel="stylesheet")
    include ../includes/hotjar.html

  body(data-learning-path=`${learningPath}`)
    div.qiskit__navbar#qiskit-navbar
      q-the-menu

    main.body
      x-course.c-textbook(id=course.id data-section=section.id data-goals=section.goals data-reveal='true')
        include sidebar

        article.c-textbook__page(data-test="textbook-page")
          include banner
          .reveal-banner
            | #{__('Reading time')}: ~#{section.duration} min
            // keep this for mathigon stuff
            .complete
          div.c-textbook__content#textbook_content
            .page-title !{section.title}
            .steps
              for stepId in section.steps
                | !{course.steps[stepId].html}

            footer
              // keep this for mathigon stuff
              div.skip-step.skip.show-all
              div.footer-nav
                div.footer-nav__cta__container
                  if prevSection
                    q-app-cta.footer-nav__cta__prev(
                      label=`${prevSection.section.title}`
                      url=`${prevSection.section.url}`
                      is-static=true
                      target="_self"
                      kind="secondary"
                      segment=`${section.id} > ${prevSection.section.id}`
                      data-test="footer-nav-previous-section"
                    )

                div.footer-nav__cta__container
                  if nextSection
                    q-app-cta.footer-nav__cta__next(
                      label=`${nextSection.section.title}`
                      url=`${nextSection.section.url}`
                      is-static=true
                      target="_self"
                      segment=`${section.id} > ${nextSection.section.id}`
                      data-test="footer-nav-next-section"
                    )

        div(id="utility-panel" class="c-textbook__utility_panel" data-test="utility-panel")
          q-utility-panel
        x-modal#glossary-modal.light: .modal-body

        script(type="application/json")#glossary!= course.glossJSON
        script(type="application/json")#bios!= course.biosJSON
        script(type="application/json")#hints!= course.hintsJSON
        script(type="application/json")#userdata!= progressData ? progressData.getJSON(section.id) : '{}'
        script(type="application/json")#notations!= notationsJSON
        script(type="application/json")#universal-notes!= universalJSON
        script(type="application/json")#translations!= translationsJSON

    script.
      var user = null;
      var textbookAnalytics = {
        url: "#{config.analytics.url || ''}",
        key: "#{config.analytics.key || ''}"
      };
      var textbook = {
        locale: "#{req.locale.id}"
      };

    script(src='/textbook.js')

    include ../includes/tail.html
    script(src='/polyfill.js')
    script(src='/content/' + course.id + '/functions.js')
    script(src='/course.js')

