nav.c-textbook__sidebar#js-sidebar
  - var chapter_num = 0
  a(href="/")
    h2.c-sidebar__title #{settings.title}
  ul.c-sidebar__chapters

    each k, i in Object.keys(courses)
      - var c = getCourse(k, lang)
      if c
        li.c-sidebar__chapter
          a.c-sidebar__entry(href=`/course/${c.id}${lang === 'en' ? '' : 'hl=' + lang}`)
            | #{c.title}
        if i == 0
          for s in c.sections
            li.c-sidebar__chapter
              a(
                class=(section && section.id === s.id ? "c-sidebar__entry c-sidebar__entry--active" : "c-sidebar__entry")
                href=`/course/${c.id}/${s.id}${lang === 'en' ? '' : 'hl=' + lang}`
              )
                | #{s.title}
        else
          ul.c-sidebar__sections
            for s in c.sections
              li.c-sidebar__section(data-section-id=s.id)
                if course && course.id === c.id
                  .connection
                  div(class=(section && section.id === s.id ? "progress-wrapper sidebar-row on" : "progress-wrapper"))
                    x-progress(r=10 p=0)
                a(
                  class=(section && section.id === s.id ? "c-sidebar__entry c-sidebar__entry--active" : "c-sidebar__entry")
                  href=`/course/${c.id}/${s.id}${lang === 'en' ? '' : 'hl=' + lang}`
                )
                  | #{s.title}

  p.sidebar_footer
    | Powered by 
    a(href='https://mathigon.org') Mathigon
